.title h1 {
  text-align: center;
  letter-spacing: 4px;
  line-height: 10px;
  padding-top: 20px;
  font-size: 30px;
}
li {
  display: inline;
  font-size: 20px;
  padding-right: 40px;
  letter-spacing: 3px;
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: black;
  }
ul {
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
}
.image{
  background-image: url("https://media.istockphoto.com/id/1398639589/photo/luxury-building-exterior-entrance.jpg?s=612x612&w=0&k=20&c=dHMq9xsqJByHUh6SQEHPYCjgepJW_0bTTjJ25g8gCm4=");
background-position: cover;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
.header{
  text-align: center;
  padding-top: 150px;
}
 .header h2, p {
  background-color: white;
  margin: auto;
  padding-top: 15px;
  font-size: 20px;
  letter-spacing: 3px;
}
.header p{
  padding-top: 8px;
  padding-bottom: 20px;
}
.portofolio {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 40px;
}
.portofolio p{
  margin-bottom: 20px;
}

.box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}
.box img{
  width: 200px;
  height: 150px;
  padding-left: 60px;
  align-self: center;
  margin: 10px;
 }
.box h1 {
  padding-left: 20px;
  letter-spacing: 3px;
  align-items: center;
  float: right;
}
 h1 {
  text-align: center;
  }
  .team{
    background-image: url("https://th.bing.com/th/id/R.5810928ab6e064048891fabdf22ed6cd?rik=WNdCT%2f9ZWVcu6w&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f8%2f4%2f0%2f104220.jpg&ehk=4X3UV%2btH76MhGdhrR824DWA7JTu6ShmHuS5f7ZAMiqo%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
      display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  
  .pics img{
    padding-top: 20px;
 padding-bottom: 20px;
     width: 200px;
    height: 300px;
    padding-left: 40px;
    margin: auto;
  }
  .team ul{
    color: white;
    text-decoration: none;
  }
  .team li {
  display: block;
    text-decoration: none;
  }
footer{
  text-align: center;
}

  
     
